<!--Please start ASR through the start-scripts in the package asr_resources_for_active_scene_recognition.-->
<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find asr_state_machine)/log/rosconsole.config" />
    <node name="scene_exploration_sm" pkg="asr_state_machine" type="SceneExploration.py" output="screen">
        <!-- XXX will be replaced with /rp_ism_node/dbfilename -->
        <param name="IOPath" value="$(find asr_state_machine)/rsc/IntermediateObject_XXX.xml"/>
        <!-- XXX will be replaced with /rp_ism_node/dbfilename -->
        <param name="CompletePatternsPath" value="$(find asr_state_machine)/rsc/CompletePatterns_XXX.py"/>
        <param name="CropBoxRecordingPath" value="$(find asr_direct_search_manager)/rsc/cropBoxWholeRoomRecording.xml"/>
        <param name="initializedGridFilePath" value="$(find asr_direct_search_manager)/rsc/initializedGrid.xml"/>
	<rosparam command="load" file="$(find asr_state_machine)/param/params.yaml" />
        <param name="use_sensors" value="True" />
	<param name ="wait_for_odom_duration" value="5" />
    </node>
</launch>
